@media (max-width: 1145px) {
    .header__menu-item {
        & + & {
            margin-left: 15px;
        }
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;

    }
}
@media (max-width: 1025px) {
    .header__telephone {
        display: none;
    }
    .questions__list {
        max-width: inherit;
        width: auto;
        height: auto;
        padding-right: 0;
    }
    .questions__list-item {
        margin: 0 auto;
    }

    .wrapper {
        padding: 10px !important;
        margin-right: 5px !important;
        img {
            width: 100%;
        }
    }

}
@media (max-width: 850px) {
    .header {
        overflow-x: hidden;
    }
    .header__burger {
        display: block;
        margin-right: 20px;
    }
    .header__menu {
        overflow-y: auto;
        transition: all .3s;
        position: absolute;
        top: -200px;
        z-index: 11;

    }
    .header__box {
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        &-btn {
            margin-top: 20px;
        }
    }

    .wash__img {
        height: 400px;
    }

    .item__price {
        font-size: 32px !important;
    }
    .type-clean__item-list-plus {
        margin-bottom: 250px;
    }
    .type-clean__item-box {
        width: 100%;
    }
    .type-clean__inner {
        margin: 0;
    }
    .advantage__inner {
        margin: 0;
    }
}

@media (max-width: 748px) {
    .advantage__title {
        font-size: 28px;
    }
    .advantage__inner {
        margin: 0;
    }

    .questions__item {
        margin-left: 0 !important;
    }
}

@media (max-width: 620px) {
    .header__bottom {
        margin-top: 80px;
    }
    .header__title {
        font-size: 32px;
    }
    .header__subtitle {
        font-size: 24px;
    }
    .header__price {
        font-size: 26px;
    }
    .header__box {
        margin-top: 60px;

        padding-right: 0;
        padding-left: 0;
    }
    .header__box-item {
        padding-right: 0;
    }
    .header__btn {
        display: none;
    }

    .wash__img {
        height: 330px;
    }

    .type-clean__item-list,.type-clean__item-list-plus, .type-clean__item-plus {
        padding: 0 30px;
    }

    .type-clean__item-list:not(.type-clean__item-list--none) {
        margin-bottom: 250px;

    }
    .type-clean__item-title {
        font-size: 18px;
    }
    .type-clean__item-box {
        padding: 45px 20px;
    }
    .item__price {
        font-size: 22px !important;
    }
    .type-clean__item-btn {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .type-clean__item-price {
        flex-wrap: wrap;
        text-align: center;
    }
    .item__text {
        width: 100%;
        margin: 0 auto;
    }

    .item__price {
        margin-left: 0 !important;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .type-clean__item {
        min-width: 380px;
      }
      .advantage__item {
        margin: 0 auto;
    }
    .type-clean__counter-item {
        margin: 20px auto;
    }
    .questions__list-item {
        width: 250px;
        font-size: 12px;
    }
}


@media (max-width: 420px) {
    .wash__img {
        height: 200px;
    }
    .type-clean__item {
      min-width: 320px;
    }
    .type-clean__item-title, .type-clean__item-plus {
        font-size: 16px;
    }
    .type-clean__item-list, .type-clean__item-list-plus {
        font-size: 12px;
    }
    .type-clean__item-list,.type-clean__item-list-plus, .type-clean__item-plus {
        padding: 0 10px;
    }
    .type-clean__item-box {
        padding: 45px 10px;
    }
    .type-clean__item {
        min-width: 290px;
      }


}