@import 'fonts';
@import '../../node_modules/swiper/swiper-bundle.css';
@import '../files/jQueryFormStyler/jquery.formstyler.css';
@import '../files/jQueryFormStyler/jquery.formstyler.theme.css';
@import 'vars';
@import 'global';

@import 'header';

// start wash

.wash {

    // .wash__title

    &__title {
        margin-top: 60px;
        margin-bottom: 36px;

    }

    // .wash__subtitle

    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 24px;
        text-align: center;
        color: #000;

    }

    // .wash__tabs

    &__tabs {
        font-size: 18px;
        font-weight: 300;

        color: #000;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    // .wash__tabs-name

    &__tabs-name {
        margin-right: 25px;
    }

    // .wash__tab-item

    &__tab-item {
        border-bottom: 1px dashed #000;
        & + & {
            margin-left: 30px;
        }
        &.active {
            cursor:auto;
            border-bottom: none;
            color: #62d5e9;
        }
    }

    // .wash__img

    &__img {
        display: none;
        position: relative;
        margin: 0 auto;
        margin-top: 35px;
        width: 977px;
        height: 551px;
        max-width: 100%;

        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        &--active {
            display: block;
        }
    }

    #tab-4 {
        background-image: url('../img/corridor.png');
    }
    #tab-2 {
        background-image: url('../img/kuchnay.png');
    }
    #tab-3 {
        background-image: url('../img/vanna.png');
    }
    #tab-1 {
        background-image: url('../img/spalny.png');
    }

    // .wash__legend

    &__legend {
        margin-top: 16px;
        margin-bottom: 75px;
        color: #000;
        font-weight: 300;
        display: flex;
        justify-content: space-around;
    }

    // .wash__legend-item

    &__legend-item {
        padding-left: 25px;
    }

    // .wash__legend-item--blue

    &__legend-item--blue {
        position: relative;

        &::after {
            left: 0;
            top: 5px;
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-image: url('../img/green_point.png');

            background-repeat: no-repeat;
            background-position: center;
        }
    }

    // .wash__legend-item--yellow

    &__legend-item--yellow {
        position: relative;

        &::after {
            left: 0;
            top: 5px;
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-image: url('../img/yellow_point.png');

            background-repeat: no-repeat;
            background-position: center;
        }
    }
}


// end wash

// start type-clean

.type-clean {

    // .type-clean__title

    &__title {
        margin-bottom: 44px;
    }

    // .type-clean__inner

    &__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        color: #000;
        margin: 0 82px;
    }

    // .type-clean__item

    &__item {
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 0px 14.25px 0.75px rgba(0, 0, 0, 0.1);
        max-width: 490px;
        width: 100%;
        min-height: 637px;
        margin-bottom: 45px;
    }


    &__wrapper {
        text-align: center;

    }
    // .type-clean__item-title

    &__item-title {
        margin-bottom: 34px;
        margin-top: 40px;
        font-size: 24px;
        display: inline-block;
        text-align: center;
    }

    // .type-clean__item-title--green

    &__item-title--green {
        position: relative;
        padding-left: 20px;
        &::after {
            position: absolute;
            content: '';
            background-image: url('../img/green_point.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
            top: 6px;
            left: 0;
        }
    }

    // .type-clean__item-list

    &__item-list {
        padding: 0 50px;
        font-weight: 300;
    }

    // .type-clean__item-item

    &__item-item {
        padding-left: 30px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 11px;
            height: 8px;
            background-image: url('../img/right.png');
            background-repeat: no-repeat;
            background-position: center;
            left: 0;
            top: 9px;
        }
    }

    // .type-clean__item-box

    &__item-box {
        position: absolute;
        bottom: 0;
        padding: 45px 75px;
        padding-bottom: 32px;
        border-top: 1px solid #f6f6f5;

    }

    // .type-clean__item-price

    &__item-price {
        display: flex;
        align-items: center;
        .item {

            // .item__text

            &__text {
                font-size: 16px;
                font-weight: 300;
                width: 145px;
                span {
                    color: #999999;
                    font-size: 14px;
                }
            }

            // .item__price

            &__price {
                margin-left: 25px;
                font-size: 38px;
            }
        }
    }

    // .type-clean__item-btn
    &__item-box-wrapper {
        text-align: center;
        margin-top: 20px;
    }
    &__item-btn {
        @include btn;
        margin: 0 auto;
    }

    // .type-clean__item-title--yellow

    &__item-title--yellow {
        position: relative;
        padding-left: 20px;
        &::after {
            position: absolute;
            content: '';
            background-image: url('../img/yellow_point.png');
            background-repeat: no-repeat;
            background-position: center;
            width: 13px;
            height: 13px;
            top: 6px;
            left: 0;
        }
    }

    // .type-clean__item-plus

    &__item-plus {
        padding: 0 50px;
        margin-top: 35px;
        color: #000;
        font-weight: 500;
        margin-bottom: 5px;
    }

    // .type-clean__item-list-plus

    &__item-list-plus {
        font-weight: 300;
        padding: 0 50px;
    }

    // .type-clean__item-plus-item

    &__item-plus-item {
        padding-left: 30px;
        position: relative;
        &::after {
            position: absolute;
            content: '+';
            font-size: 16px;
            color: #6fe0f2;
            font-weight: 300;
            left: 0;
            top: 0;
        }
    }

    // .type-clean__counter

    &__counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 70px;
        border-radius: 10px;
        box-shadow: 0px 0px 14.25px 0.75px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1051px;

        color: #000;
        padding: 70px 60px 0;
    }

    // .type-clean__counter-item

    &__counter-item {
        margin-bottom: 40px;
    }

    // .type-clean__counter-name

    &__counter-name {
        margin-bottom: 15px;
        font-size: 24px;
    }

    // .type-clean__counter-subname

    &__counter-subname {
        font-size: 18px;
        color: #999999;
    }

    // .type-clean__counter-count

    &__counter-count {
        text-align: center;
        font-size: 48px;
        color: #6fe0f1;
    }

    // .type-clean__counter-text

    &__counter-text {
        margin-top: 15px;
        text-align: center;
        font-size: 17px;
        color: #000;
    }
}
// end type-clean

// start advantage

.advantage {
    background-image: url('../img/tree-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    min-height: 520px;

    // .advantage__title

    &__title {
        padding-top: 96px;
        padding-bottom: 80px;
    }

    // .advantage__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 110px;
        padding-bottom: 70px;
    }

    // .advantage__item

    &__item {
        width: 200px;
        padding-bottom: 20px;
    }

    // .advantage__item-img

    &__item-img {
        text-align: center;

        min-height: 135px;
        margin-bottom: 32px;
    }

    // .advantage__item-text

    &__item-text {
        color: #0d0e0e;
        font-weight: 500;
        text-align: center;
    }
}

// end advantage

// start questions

.questions {
    background-color: #f8f8f8;
    padding-bottom: 80px;

    // .questions__title
    &__title {

        padding-top: 54px;
    }

    // .questions__inner

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 55px;
    }

    // .questions__item

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
            width: 334px;
            height: 116px;
            margin-bottom: 40px;
        & + & {
            margin-left: 35px;
        }
        &.active {
            .questions__item-text {
                color: #4bd0e4;
            }
        }
    }

    // .questions__item-text

    &__item-text {
        color: #000000;
        font-size: 18px;
        padding-left: 55px;
    }

    // .questions__item-img

    &__item-img {
        padding-right: 22px;
    }

    // .questions__list

    &__list {
        margin: 0 auto;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
        max-width: 1079px;
        width: 100%;
        height: 276px;
        padding: 30px 0;
        padding-right: 130px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    // .questions__list-item

    &__list-item {
        margin-left: 132px;
        width: 350px;
        list-style: auto;
        color: #000;
        font-weight: 300;
        margin-bottom: 5px;
        text-decoration: underline dashed;
        line-height: 24px;

    }
}


// end questions

// start review

.review {

    // .sreview__title
    &__title {
        margin-top: 70px;
        margin-bottom: 50px;
    }

    // .review__wrapper

    &__wrapper {
        background-image: url('../img/comment-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__box {
        position: relative;
    }

    // .review__comment

    &__comment {
        max-width: 903px;
        margin: 0 auto;
        padding-top: 80px;
        border-radius: 20px;

    }

    // .review__btn
    &__btn {
        padding-top: 25px;
        padding-bottom: 78px;
        text-align: center;
    }
    &__btn-btn {

        border-radius: 20px;
        box-shadow: 0px 1px 4.8px 0.2px rgba(0, 0, 0, 0.4);
        background-color: #fff;
        width: 207px;
        height: 45px;
        color: #000;
    }

    .wrapper {
        margin-right: 20px;
        padding: 30px;
        background-color: #fff;
        border-radius: 10px;
    }
}



.swiper-button-prev, .swiper-button-next {
    background-color: #f0f0f0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 60%;

}

.swiper-button-prev {
    left: 163px;

    &::after {
        content: '';
        width: 6px;
        height: 7px;
        background-image: url('../img/arrow-left.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.swiper-button-next {
    right: 182px;
    &::after {
        content: '';
        width: 6px;
        height: 7px;
        background-image: url('../img/arrow-right.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}



// end review

// Media
@import 'media';
